.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 25px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}




.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
  position: relative;
  top: 0%;
  left: 0%;
  height: 100px;
}

.header h1 {
  font-size: 4rem;
  font-weight: 700;
  position: absolute;
  top: 40%;
  left: 0;
}

.header p {
  font-size: 4rem;
  line-height: 3.8rem;
  position: absolute;
  top: 40%;
  left: 135%;
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}


.about_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  
}

.about_text {
  line-height: 1.4rem;
  font-size: 1.25rem;
  max-width: 576px;
  color: #dcdcdcc9;
  letter-spacing: 0.3px;
}
  

.about_text span {
  font-weight: 700;
}

/* Coffe container */

.coffee_container {
  position: relative;
  top: 5%;
  left: 190%;
}
.coffee_cup {
  position: relative;
  width: 100px;
  height: 80px;
  box-sizing: border-box;
  border: 7px solid #fff;
  border-radius: 5px 5px 40px 40px;
  background: none;
  overflow: hidden;
  z-index: 2;
}

.coffee_handle {
  position: relative;
  top: -70px;
  left: 95px;
  width: 30px;
  height: 40px;
  background: transparent;
  box-sizing: border-box;
  border: 5px solid #fff;
  border-radius: 0 10px 25px 0; 
}

.coffee_cup::before {
  content: "";
  position: absolute;
  top: 25px;
  left: -60px;
  width: 200px;
  height: 200px;
  background: #01C38D;
  border-radius: 70px;
  animation: loading 5s linear infinite;
  overflow: hidden;
}


@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rething a {
  background: #fcff47; 
  background: -webkit-linear-gradient(to right, #fcff47, #bfc133);
  background: linear-gradient(to right, #fcff47, #bfc133); 
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.resume a {
color: #01C38D;
}

.instagram a {
  background: #ff4500;
  background: -webkit-linear-gradient(to right, #de6133, #943411);
  background: linear-gradient(to right, #de6133, #943411); 
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.hashnode a {
  background: #5a87e2;
  background: -webkit-linear-gradient(to right, #5a87e2, #3682d3); 
  background: linear-gradient(to right, #5a87e2, #3682d3); 
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.email a {
  color: #fff;
}

.exp {
  color: #fff;
}


.social_media {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-bottom: 0.5rem;
}

.social_media a {
  font-size: 30px;
  margin: 0.5rem 0.5rem 0 0;
  color: #dcdcdcc9;
}

.social_media a:hover {
  color: #fff;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.neon {
  position: relative;
  top: 30%;
  border-radius: 10px;
  left: 0%;
  margin-bottom: 0.7rem;
  width: 180px;
  height: 10px;
  background-color: #fff;
  box-shadow: 0 0 5px #01C38D,
              0 0 25px #01C38D,
              0 0 50px #01C38D,
              0 0 100px #01C38D;
}


@media screen and (min-width: 576px) {
  .about_text {
    font-size: 1.45rem;
    line-height: 1.55rem;
}
  .App {
    padding: 60px;
  }

  }
